@charset "utf-8";
/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin:0; padding:0; }
img { border: 0 none; vertical-align: middle; }
body, input, select, button, textarea { font-size:12px; font-family:"宋体",arial;}
.yahei{ font-family:"Microsoft Yahei";}
.arial{ font-family:arial;}
.song{font-family:"\5b8b\4f53";}
li{ list-style-type:none;}
button {cursor: pointer; border:none;}
body {color: #000; line-height:24px;height:100%; background:#fff;}
html{-webkit-text-size-adjust:none;}
a{ color:#000; text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());}
a:hover {text-decoration:none;color:#0e4d9c;  }
a:focus { outline: none; }
input:focus,textarea:focus,select:focus{ outline: none; }
.clear{ height:0; clear:both;}
.fixed,.warp { display: block; min-height: 1%; }
*html .fixed,*html .warp { height: 1%; }




/****************首页**/
input:focus{outline:none;}
input,button{ border:none;}

.container{ width:100%; height:auto; margin:0 auto; padding:0px; margin:0px; position:relative;}
#go2{position:absolute;text-align:center;top:0px;left:0px;right:0px;bottom:0px;background:#000; z-index:99999;opacity:0.8; filter: alpha(opacity=80);}
/****密码找回**/
.grmmzh{ width:410px; height:348px;margin:0px 0px 0px -205px; position:absolute; left:50%; top:130px; z-index:9999999999; background:#fff;display:none;}
.sjmmzh{ width:410px; height:348px;margin:0px 0px 0px -205px; position:absolute; left:50%; top:130px; z-index:9999999999; background:#fff;display:none;}

.hydl{ width:410px; height:348px;margin:0px 0px 0px -205px; position:absolute; left:50%; top:130px; z-index:9999999999; background:#fff;display:none;}
.hydlt{ width:354px; height:53px; float:left; padding-left:56px; line-height:53px; color:#ff5501; font-size:18px;font-family:"微软雅黑"; position:relative;}
.cha{width:20px;height:20px;margin:15px 30px 0px 0px;position:absolute;right:-40px; top:-23px; z-index:2; cursor:pointer;}
.cha a{width:20px;height:20px;margin:0px 0px 0px 0px;}
.cha a img{width:20px;height:20px;}
.cha2{width:20px;height:20px;margin:15px 30px 0px 0px;position:absolute;right:-40px; top:-23px;z-index:2;cursor:pointer;}
.cha2 a{width:20px;height:20px;margin:0px 0px 0px 0px;}
.cha2 a img{width:20px;height:20px;}


.hydla{ width:410px; height:32px;float:left; background:url(../images/xd_03.jpg) repeat-x left bottom;position:relative;}
.hydla ul{width:354px;height:32px; position:absolute; left:56px; top:0; z-index:2;}
.hydla ul li{width:auto; height:29px;float:left;font-family:"微软雅黑";text-align:center; line-height:29px; color:#000;border-left:1px solid #fff;border-right:1px solid #fff;border-top:2px solid #fff; cursor:pointer; padding:0px 17px;}
.hydla ul li.on{ color:#008ac3;border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-bottom:1px solid #fff;border-top:2px solid #ff5501;}


.hydlc{ width:354px; height:auto; float:left; padding:30px 0px 0px 56px;font-family:"微软雅黑";}
.hydlca{ width:299px; height:42px; float:left;margin:0px 0px 15px 0px; position:relative;}
.hydlca div{ width:40px; height:24px;border-right:1px solid #d9d9d9;position:absolute; left:0px; top:8px; z-index:8;}
.hydlca span{ width:70px; height:31x;position:absolute; left:170px; top:8px; z-index:8; background:#ccc; overflow:hidden;cursor:pointer;}
.hydlca b{ width:70px; height:31px;position:absolute; left:250px; top:8px; z-index:8; line-height:31px; color:#30a8da;overflow:hidden; font-weight:normal; cursor:pointer;}







.hydlca div img{ width:19px; height:20px; float:left;margin:2px 0px 15px 11px;}

.hydlca input[type=text]{width:237px; height:40px;background:#fff; border:1px solid #d9d9d9; position:absolute; left:0px; top:0px; z-index:1;padding-left:60px;overflow:hidden; line-height:34px;}

.hydlca input[type=password]{width:237px; height:40px;background:#fff; border:1px solid #d9d9d9; position:absolute; left:0px; top:0px; z-index:1;padding-left:60px;overflow:hidden; line-height:34px;}


.hydlca input[type=text]:focus{transition:border linear .2s,box-shadow linear .5s;
 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
 outline:none;border-color:#30a8da;
 box-shadow:0 0 8px rgba(48,168,218,.5);
 -moz-box-shadow:0 0 8px rgba(48,168,218,.5);
 -webkit-box-shadow:0 0 8px rgba(48,168,218,3);}
 .hydlca input[type=password]:focus{transition:border linear .2s,box-shadow linear .5s;
 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
 outline:none;border-color:#30a8da;
 box-shadow:0 0 8px rgba(48,168,218,.5);
 -moz-box-shadow:0 0 8px rgba(48,168,218,.5);
 -webkit-box-shadow:0 0 8px rgba(48,168,218,3);}
.hydlcb{ width:299px; height:30px; float:left;margin:0px 0px 15px 0px; line-height:30px; color:#666;}
.hydlcb a{color:#0966ad;}
.hydlca #zc{width:165px; height:45px;background:url(../images/zhuce.jpg) no-repeat;position:absolute; left:60px; top:0px; z-index:1;overflow:hidden; }
.hydlca #dl{width:165px; height:45px;background:url(../images/deng.jpg) no-repeat;position:absolute; left:60px; top:0px; z-index:1;overflow:hidden; }


.hyzc{ width:410px; height:522px;margin:0px 0px 0px -205px; position:absolute; left:50%; top:130px; z-index:9999999999; background:#fff; display:none;}












.top{ width:100%; height:126px; margin:0 auto;}
.topzs{width:100%; height:30px; margin:0 auto;background:#ededed;}
.topz{width:1200px; height:30px;margin:0 auto;}
.topz span{width:auto; height:30px; float:left; line-height:30px; color:#666; margin-left:10px;}
.deng{/*width:89px;*/ height:30px; float:right;margin:0px 0px 0px 0px;font-size:12px;color:#666;}
.deng a{width:auto; height:30px;margin:0px 2px 0px 2px;color:#666;}
.topzx{width:1200px; height:96px;margin:0 auto;}
.logo{width:379px; height:80px; float:left; margin:7px 0px 0px 13px;}
.logo img{width:379px; height:80px;float:left; margin:0px 0px 0px 0px;}



.search{width:554px; height:40px; float:right;margin:31px 0px 0px 0px;}
.search input{width:407px; height:38px; float:left; padding:0px 3px;line-height:38px; border:1px solid #dfdfdf; border-right:none;}
.search span{width:90px; height:40px; float:left; background:url(../images/ss_03.jpg) no-repeat;}



.nav{ width:100%; height:40px; margin:0 auto; background:#0e4d9c; clear:both;}
.nav ul{ width:1200px; height:40px;margin:0 auto;padding:0px;clear:both;}
.nav ul li{ width:170px; height:40px; float:left; line-height:40px;font-family:"微软雅黑"; text-align:center; border-right:1px solid #2d62a5; position:relative;display:block;}
.nav ul li a{width:170px; height:40px;float:left;color:#fff;font-size:14px;padding:0px;display:block;}
.nav ul li a.on{background:#073e82 url(../images/san_07.jpg) no-repeat top center;}
.nav ul li a:hover{background:#073e82 url(../images/san_07.jpg) no-repeat top center;}

.nav ul li ul{ width:132px; height:auto; position:absolute; left:0px; top:40px; z-index:333; background:#073e82; display:none;}
.nav ul li ul li{ width:132px; height:40px; float:left; line-height:40px;font-family:"微软雅黑"; text-align:center; border-right:none; }
.nav ul li ul li a{width:132px; height:40px;float:left;color:#fff;font-size:14px;padding:0px;display:block;}
.nav ul li ul li a:hover{background:#fff; color:#073e82;}
.nav ul li:hover ul{display:block;}


.flash{ width:100%; height:340px;margin:0 auto; overflow:hidden; position:relative;}
.daoh{ width:133px; height:310px; position:absolute; left:50%; top:15px; z-index:999; margin:0px 0px 0px -600px; background:url(../images/xi_03.png) repeat;}
.daoh ul{ width:133px; height:300px; margin-top:5px;padding:0px; position:relative;}
.daoh ul li{ width:86px; height:48px; float:left;padding:0px 23px 0px 24px;line-height:48px;font-family:"微软雅黑"; text-align:center;}
.daoh ul li a{width:86px; height:48px;float:left;color:#000;font-size:14px;padding:0px;display:block;background:url(../images/xi_13.png) no-repeat bottom center;}
.daoh ul li a:hover{color:#ff5501;background:url(../images/xi_10.png) no-repeat bottom center;}
.daoh ul li a.on{color:#ff5501;background:url(../images/xi_10.png) no-repeat bottom center;}

.rdao{ width:587px; height:310px;position:absolute; left:133px; top:-5px; z-index:999999; background:url(../images/xi_05.png) repeat; display:none;}
.rdao ul{ width:543px; height:290px;margin:19px 20px 0px 14px;padding:0px;}
.rdao ul li{ width:543px; height:38px; float:left; line-height:38px;font-family:"微软雅黑";}
.rdao ul li span{width:76px; height:38px;float:left;color:#000;font-size:12px;padding:0px; text-align:right;}
.rdao ul li .house{width:380px; height:38px;float:left;color:#000;font-size:12px;padding:0px;margin:0px 0px 0px 4px; overflow:hidden;}
.rdao ul li .house a{width:auto; height:38px;float:left;color:#000;margin:0px 10px 0px 0px;font-size:12px;padding:0px;background:none;}
.rdao ul li .house a:hover{width:auto; height:38px;float:left;color:#000;font-size:12px;padding:0px;background:none;}

.rdao ul li div{width:380px; height:38px;float:left;color:#000;font-size:12px;padding:0px;margin:0px 0px 0px 4px;}
.rdao ul li div a{width:auto; height:38px;float:left;color:#000;margin:0px 10px 0px 0px;font-size:12px;padding:0px;background:none;}
.rdao ul li dive a:hover{width:auto; height:38px;float:left;color:#000;font-size:12px;padding:0px;background:none;}


.rdao ul li .duo{width:54px; height:38px;float:right;color:#666;font-size:12px;padding:0px;background:none; line-height:38px;}
.rdao ul li .duo:hover{background:none;color:#666;}
.daoh ul li:hover .rdao{ display:block;}


.rdao ul li.ping{width:520px; border-bottom:1px dotted #CCC;height:140px;float:left;color:#000;font-size:12px;padding:0px;margin:0px 0px 0px 4px; line-height:35px;overflow:hidden; padding:0px 0px 10px 0px;}
.rdao ul li.ping div a{width:auto; height:35px;float:left;color:#000;margin:0px 10px 0px 0px;font-size:12px;padding:0px;background:none; overflow:hidden;}
.rdao ul li.ping dive a:hover{width:auto; height:35px;float:left;color:#000;font-size:12px;padding:0px;background:none;}




















.main1{width:1200px;height:auto;margin:0 auto;overflow:hidden;}
.main{width:1200px;height:auto;margin:0 auto;overflow:hidden;padding-bottom:50px;min-height:600px;*min-height:600px;_min-height:600px;}
.ms{width:1200px;height:auto;float:left; margin-top:20px;overflow:hidden;}
.zixun{width:358px;height:auto; float:left;overflow:hidden;}
.zixunt{width:358px;height:32px;float:left;overflow:hidden; background:url(../images/xd_03.jpg) repeat-x left bottom; position:relative;}
.zixunt ul{width:358px;height:32px; position:absolute; left:0px; top:0; z-index:2;}
.zixunt ul li{width:57.5px; height:29px;float:left;font-family:"微软雅黑";text-align:center; line-height:29px; color:#000;border-left:1px solid #fff;border-right:1px solid #fff;border-top:2px solid #fff; cursor:pointer;}
.zixunt ul li.on{border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-bottom:1px solid #fff;border-top:2px solid #ff5501;}
.zixunt ul li:hover{ border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-bottom:1px solid #fff; border-top:2px solid #ff5501;}
.zixunc{width:358px;height:255px;float:left;margin:20px 0px 0px 0px; overflow:hidden;}


.forus{width:488px;height:auto; float:left;margin:0px 0px 0px 20px; overflow:hidden;}
.focust{width:488px;height:32px;float:left;position:relative; background:url(../images/s_03.jpg) repeat-x left bottom;}
.focust span{width:78px;height:32px; line-height:25px; text-align:center;position:absolute; left:0px; top:0; z-index:99;background:url(../images/a_09.jpg) no-repeat left 24px;font-size:16px;font-family:"微软雅黑";}
.focusc{width:488px;height:255px;float:left;margin:18px 0px 0px 0px;font-family:"微软雅黑";}
.focusct{width:488px;height:88px;float:left;margin:0px 0px 0px 0px; background:url(../images/a_20.jpg) repeat-x left bottom;}
.focuscts{width:488px;height:25px;float:left;margin:0px 0px 0px 0px;overflow:hidden;}
.focuscts a{width:488px;height:25px;float:left;margin:0px 0px 0px 0px; font-size:16px; text-align:center;}
.focusctx{width:488px;height:40px;float:left;margin:10px 0px 0px 0px; line-height:20px; color:#666;overflow:hidden;}
.focusctx a{color:#666;}



.focuscc{width:488px;height:255px;float:left;margin:7px 0px 0px 0px;}
.focuscc ul{width:488px;height:150px; float:left; overflow:hidden; margin-top:10px;}
.focuscc ul li{width:488px; height:30px;float:left;font-family:"微软雅黑";line-height:30px;}
.focuscc ul li a{width:408px; height:30px;float:left;color:#000;font-size:14px;overflow:hidden;}
.focuscc ul li span{width:58px; height:30px;float:right; text-align:right;color:#666;}
.focuscc ul li a:hover{color:#0e4d9c;}

.hotspots{width:312px;height:304px; float:right;overflow:hidden; border:1px solid #dfdfdf;font-family:"微软雅黑";}
.hotspotst{width:302px;height:31px; float:left;overflow:hidden;font-size:16px;line-height:31px; background:#f6f6f6; padding-left:10px;}


.hotspotsc{width:312px;height:273px; float:left;overflow:hidden;}
.hotspotscs{width:262px;height:112px; float:left;overflow:hidden;margin:12px 20px 0px 20px; line-height:28px;}
.hotspotscs a{ color:#666; margin-right:6px;}
.hotspotscs a.b{ color:#f25c2a;}

.hotspotscx{width:283px;height:273px; float:left;margin:10px 15px 0px 15px;overflow:hidden;background:url(../images/a_20.jpg) repeat-x left top;}
.hotspotscx img{width:282px;height:100px; float:left;margin:17px 0px 0px 0px;overflow:hidden;}
.adv{width:1200px;height:98px; float:left;overflow:hidden;margin:20px 0px 0px 0px;}


.emigrants{width:1200px;height:auto;float:left; margin-top:25px;overflow:hidden;font-family:"微软雅黑";}
.emigrantsz{width:311px;height:auto;float:left;overflow:hidden;}
.emigrantszt{width:311px;height:41px;float:left;overflow:hidden; background:url(../images/sf_03.jpg) repeat-x left top; line-height:41px; font-size:22px;}
.emigrantszt b{width:auto;height:41px;float:left;overflow:hidden; font-weight:normal;}
.emigrantszt span{width:58px;height:41px;float:left;overflow:hidden; background:url(../images/sf_03.jpg) repeat-x left top; line-height:41px; font-size:22px; background:url(../images/a_35.jpg) no-repeat left center; text-align:center; color:#fff;}
.emigrantszc{width:311px;height:auto;float:left;overflow:hidden; }
.emigrantszcs{width:311px;height:225px;float:left;overflow:hidden; }
.emigrantszcst{width:311px;height:30px;float:left;overflow:hidden; }
.emigrantszcst ul{width:281px;height:30px; float:left; overflow:hidden; background:url(../images/kk_03.jpg) no-repeat;}
.emigrantszcst ul li{width:138px; height:28px;float:left;font-family:"微软雅黑";line-height:30px; text-align:center; font-size:14px;margin:0px 1px 0px 1px; cursor:pointer;}
.emigrantszcst ul li.on{ border-bottom:2px solid #ff5501;}


.emigrantszcsa{width:311px;height:170px;float:left;overflow:hidden;margin:20px 0px 0px 0px; }
.emigrantszcsa ul{width:311px;float:left;height:170px; overflow:hidden;}
.emigrantszcsa ul li{width:136px;height:51px;float:left;font-family:"微软雅黑";text-align:center;line-height:51px;margin:0px 9px 10px 0px;}
.emigrantszcsa ul li a{width:136px;height:51px;float:left;background:#8c8d8d;color:#fff;}
.emigrantszcsa ul li a.on{background:#2d6491;color:#fff;}
.emigrantszcsa ul li a:hover{background:#2d6491;color:#fff;}

.emigrantszcsb{width:311px;height:144px;float:left;overflow:hidden;margin:20px 0px 0px 0px;}
.emigrantszcsb ul{width:311px;float:left;height:144px; overflow:hidden;}
.emigrantszcsb ul li{width:311px;height:36px;float:left;font-family:"微软雅黑";line-height:36px; color:#000;background:url(../images/a_71.jpg) no-repeat left center;}
.emigrantszcsb ul li a{width:301px;height:36px;box-sizing:border-box;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;float:left;margin:0px 0px 0px 10px;}


.emigrantszcx{width:311px;height:219px;float:left;overflow:hidden;margin:10px 0px 0px 0px;}
.emigrantszcxt{width:311px;height:30px;float:left;overflow:hidden; }
.emigrantszcxt span{width:140px;height:30px;float:left;overflow:hidden; background:url(../images/a_42.jpg) no-repeat; text-align:center; line-height:30px;font-size:14px;font-family:"微软雅黑";}
.emigrantszcxc{width:311px;height:184px;float:left;overflow:hidden;margin:5px 0px 0px 0px;}





.emigrantsy{width:889px;height:auto;float:right;}
.emigrantsyt{width:889px;height:26px;float:left;background:#e4e8eb;}
.emigrantsyt ul{width:800px;float:left;height:26px; }
.emigrantsyt ul li{width:79px;height:31px;float:left;font-family:"微软雅黑";text-align:center; line-height:26px; color:#000;border-right:1px solid #fff;cursor:pointer;}
.emigrantsyt ul li.on{ background:url(../images/a_32.jpg) no-repeat;color:#fff;}
.emigrantsyt ul li:hover{background:url(../images/a_32.jpg) no-repeat;color:#fff;}
.more{width:auto;height:26px;float:right; color:#666; margin-right:10px; line-height:26px;}


.emigrantsyc{width:889px;height:449px;float:left;margin:20px 0px 0px 0px; overflow:hidden;}
.emigrantsyc ul{width:929px;float:left;height:449px; overflow:hidden; }
.emigrantsyc ul li{width:280px;height:215px;float:left;margin:0px 25px 19px 0px;}
.emigrantsyc ul li a{width:280px;height:215px;float:left;margin:0px 0px 0px 0px; position:relative; overflow:hidden;}
.emigrantsyc ul li a img{width:280px;height:215px;float:left;}
.sbfaq{width:280px;height:135px; position:absolute; left:0;top:180px; z-index:9999;background:url(../images/a_13.png) repeat;overflow:hidden;}
.sbfaq span{width:260px;height:35px; float:left; margin:0px 10px;font-size:16px; line-height:35px; text-align:center; color:#fff; overflow:hidden; border-bottom:1px solid #fff;}
.sbfaq p{width:260px;height:72px; float:left; margin:10px 10px 0px 10px;font-size:14px; line-height:24px; color:#fff; overflow:hidden; }
.gov{width: 1270px;}
.gov li{width: 132px;height:60px;padding:10px;box-sizing:border-box;border: 1px solid #ebebeb;line-height: 20px;text-align: center;float: left;margin:15px 46px 0 0;}
.ymgstj{width:1200px;float:left;height:auto;font-family:"微软雅黑";}
.ymgstjt{width:1200px;height:30px;float:left;overflow:hidden; }
.ymgstjt span{width:140px;height:30px;float:left;overflow:hidden; background:url(../images/a_42.jpg) no-repeat; text-align:center; line-height:30px; font-size:14px;font-family:"微软雅黑";}
.ymgstjt a{width:auto;height:30px;float:right;overflow:hidden;line-height:30px; color:#666; }

.ymgstjc{width:1200px;height:184px;float:left;overflow:hidden;margin:15px 0px 0px 0px;}
.ymgstjc ul{width:1270px;float:left;height:184px; overflow:hidden; }
.ymgstjc ul li{width:132px;height:84px;float:left;margin:0px 46px 10px 0px;}
.ymgstjc ul li a{width:132px;height:84px;float:left; overflow:hidden;}
.ymgstjc ul li a img{width:120px;height:50px;float:left;padding:5px;border:1px solid #ebebeb;}
.ymgstjc ul li a span{width:120px;height:30px;float:left; line-height:30px; color:#666; text-align:center;}
.ymgstjc ul li:hover a span{color:#0e4d9c;}

/*中介*/
.tj{width:1200px;height:184px;float:left;overflow:hidden;margin:15px 0px 0px 0px;}
.tj ul{width:1270px;float:left;height:184px; overflow:hidden; }
.tj ul li{width:190px;height:184px;float:left;margin:0px 12px 10px 0px;}
.tj ul li a{width:190px;height:184px;float:left; overflow:hidden;}
.tj ul li a img{width:188px;height:108px;float:left;padding:0px;border:1px solid #ebebeb;}
.tj ul li a span{width:190px;height:30px; overflow:hidden; float:left; line-height:30px; color:#666; text-align:center; font-size:14px;}
.tj ul li a p{width:190px;height:40px; float:left; line-height:40px; text-align:center; color:#0e4d9c; font-size:20px;}
.tj ul li:hover a span{color:#0e4d9c;}


.ywwjc{width:1200px;height:auto;float:left;overflow:hidden;margin:15px 0px 0px 0px;min-height:700px;*min-height:700px;_min-height:700px;}
.ywwjc ul{width:1270px;float:left;height:auto; overflow:hidden; }
.ywwjc ul li{width:132px;height:84px;float:left;margin:0px 46px 10px 0px;}
.ywwjc ul li a{width:132px;height:84px;float:left; overflow:hidden;}
.ywwjc ul li a img{width:120px;height:50px;float:left;padding:5px;border:1px solid #ebebeb;}
.ywwjc ul li a span{width:120px;height:30px;float:left; line-height:30px; color:#666; text-align:center;}
/*中介公司综合*/
.zjgs{width:1200px;height:auto;float:left;overflow:hidden;margin:15px 0px 0px 0px;min-height:700px;*min-height:700px;_min-height:700px;}
.zjgs ul{width:1270px;float:left;height:auto; overflow:hidden; }
.zjgs ul li{width:1200px;height:110px; padding-top:15px; padding-bottom:15px; margin-bottom:10px; background:#f3f8e9;}
.zjgs ul li .left,.mid{float:left;}
.zjgs ul li .right{float:right; padding-right:30px;}
.zjgs ul li .left img{width:188px;height:108px; margin:auto 15px; border:1px solid #ebebeb;}
.zjgs ul li .mid span{height:36px; line-height:36px; color:#666; text-align:center; display:-webkit-box;}
.zjgs ul li .mid h1{height:36px; line-height:36px;color:#1e78cf; font-size:16px; font-family:"微软雅黑";}
.zjgs ul li .right b{ float:right; padding-top:80px; color:#fd761c; font-size:16px; font-family:"微软雅黑";}

.haiwfclei{width:311px;height:170px;float:left;overflow:hidden;margin:20px 0px 0px 0px; }
.haiwfclei ul{width:311px;float:left;height:170px; overflow:hidden;}
.haiwfclei ul li{width:136px;height:82px;float:left;font-family:"微软雅黑";text-align:center;line-height:82px;margin:0px 9px 10px 0px;}
.haiwfclei ul li a{width:136px;height:82px;float:left;background:#8c8d8d;color:#fff;}
.haiwfclei ul li a.on{background:#2d6491;color:#fff;}
.haiwfclei ul li a:hover{background:#2d6491;color:#fff;}

.hwlvzc{width:281px;height:449px;float:left;overflow:hidden;margin:5px 0px 0px 0px;}
.hwzpzc{width:281px;height:179px;float:left;overflow:hidden;margin:5px 0px 0px 0px;}
.hwzpyc{width:889px;height:185px;float:left;margin:15px 0px 0px 0px; overflow:hidden;}
.hwzpyc ul{width:901px;float:left;height:185px; overflow:hidden; }
.hwzpyc ul li{width:435px;height:32px;float:left;margin:0px 15px 0px 0px; line-height:32px; background:url(../images/a_71.jpg) no-repeat left center;}
.hwzpyc ul li a{width:422px;height:32px;float:left;font-size:14px;overflow:hidden;margin:0px 0px 0px 13px;}
.hwzpyc ul li a b{width:auto;height:32px;float:left; color:#ff0000; font-size:14px;overflow:hidden; font-weight:normal;}
.hwzpyc ul li a span{width:auto;height:32px;float:left;margin:0px 0px 0px 2px;color:#555; font-size:14px;overflow:hidden;}
.hwzpyc ul li a span:hover{color:#0e4d9c; }


.huod{width:1200px;float:left;height:auto;margin:0px 0px 0px 0px;font-family:"微软雅黑";}
.huodt{width:1200px;height:32px;float:left;position:relative; background:url(../images/s_03.jpg) repeat-x left bottom;}
.huodt span{width:78px;height:32px; line-height:25px; text-align:center;position:absolute; left:0px; top:0; z-index:99999;background:url(../images/a_09.jpg) no-repeat left 24px;font-size:16px;}
.huodt a{width:78px;height:32px; float:right; color:#555; text-align:right;}


.huodc{width:1200px;height:220px;float:left;overflow:hidden;margin:30px 0px 0px 0px;}
.huodc ul{width:1200px;float:left;height:220px; overflow:hidden;}
.huodc ul li{width:220px;height:96px;float:left; border:1px solid #dededd;margin:0px 18px 17px 0px;}
.huodc ul li a{width:220px;height:96px;float:left;}


.lvshi{width:387px;height:304px; float:right;overflow:hidden; border:1px solid #dfdfdf;font-family:"微软雅黑";}
.lvshit{width:377px;height:31px; float:left;overflow:hidden;font-size:16px;line-height:31px; background:#f6f6f6; padding-left:10px;}


.lvshic{width:387px;height:273px; float:left;overflow:hidden;}
.lvshic ul{width:387px;float:left;height:290px; overflow:hidden;margin:15px 0px 0px 15px;}
.lvshic ul li{width:170px;height:70px;float:left;margin:0px 10px 15px 0px;}
.lvshic ul li a{width:170px;height:70px;float:left;}
.lvshic ul li a img{width:62px;height:70px;float:left;}
.lvstu{width:93px;height:70px;float:right;margin-right:10px;overflow:hidden;}
.lvstu p{width:93px;height:32px;float:left;color:#000; font-size:14px;overflow:hidden;}
.lvstu span{width:93px;height:36px;float:left;color:#666; font-size:12px;overflow:hidden; line-height:18px;font-family:"宋体";}




.Partner{width:1200px;height:32px;float:left;margin-top:20px;position:relative; background:url(../images/s_03.jpg) repeat-x left bottom;}
.Partner span{width:78px;height:32px; line-height:25px; text-align:center;position:absolute; left:0px; top:0; z-index:99999;background:url(../images/a_09.jpg) no-repeat left 24px;font-size:16px;}
.Partner a{width:78px;height:32px; float:right; color:#555; text-align:right;}





.botw{width:100%; height:314px; margin:0 auto;overflow:hidden; border-top:1px solid #eee;}
.bots{width:100%; height:229px; margin:0 auto;overflow:hidden; background:#f8f8f8;}
.botsz{width:1200px; height:229px;margin:0 auto;overflow:hidden;font-family:"微软雅黑";}
.botsza{width:435px;height:229px;float:left;}
.botsza a{width:123px;height:133px;float:left;margin:45px 0px 0px 105px;}
.botsza a img{width:123px;height:133px;float:left;}
.botszb{width:435px;height:229px;float:left;}
.botszb span{width:435px;height:79px;float:left; line-height:79px; font-size:16px;}
.botszb p{width:435px;height:229px;float:left; font-size:12px; line-height:30px; color:#666;}
.botszb p b{width:auto;height:30px;color:#ff5501; font-size:24px; font-weight:normal;}


.botszc{width:311px;height:87px;float:right;margin:60px 0px 0px 0px;}
.botszc img{width:87px;height:87px;float:left;}
.botszc p{width:205px;height:48px;float:right;margin:15px 0px 0px 0px;text-align:left; font-size:16px; line-height:24px; color:#000;}


.botx{width:100%; height:77px; margin:0 auto;overflow:hidden; background:#000; padding-top:18px;}
.botxz{width:1200px; height:60px;margin:0 auto;color:#fff; line-height:30px; text-align:left;font-family:"微软雅黑";overflow:hidden;}

.health{width:1200px;height:auto;float:left; margin-top:20px;overflow:hidden;}
.healtht{width:1200px;height:32px;float:left;overflow:hidden;background:url(../images/xd_03.jpg) repeat-x left bottom;position:relative;}
.healtht ul{width:358px;height:32px; position:absolute; left:0px; top:0; z-index:2;}
.healtht ul li{width:auto; height:29px;float:left; padding:0px 15px;font-family:"微软雅黑";text-align:center; line-height:29px; color:#000;border-left:1px solid #fff;border-right:1px solid #fff;border-top:2px solid #fff; cursor:pointer;}
.healtht ul li.on{border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-bottom:1px solid #fff;border-top:2px solid #ff5501;}
.healtht ul li:hover{ border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-bottom:1px solid #fff; border-top:2px solid #ff5501;}


.healtha{width:1198px;height:auto; float:right;overflow:hidden;margin:20px 0px 0px 0px;border:1px solid #dfdfdf;font-family:"微软雅黑";}
.healthat{width:1198px;height:31px; float:left;overflow:hidden;font-size:14px;line-height:31px; background:#f6f6f6; padding-left:10px;}


.healthac{width:1198px;height:auto;float:left;overflow:hidden; padding-bottom:20px;min-height:160px;*min-height:160px;_min-height:160px;}
.fens{width:1172px;height:40px; float:left;line-height:40px;overflow:hidden;margin:0px 13px 0px 13px;background:url(../images/a_20.jpg) repeat-x left bottom;}
.fens span{width:71px;height:40px; float:left; text-align:right; overflow:hidden; color:#666;}
.fens div{width:1100px;height:40px; float:right; overflow:hidden;}
.fens a{width:auto;height:40px; float:left;color:#000; margin-right:15px;}
.fens a.on{width:auto;height:20px; float:left;line-height:20px;color:#ff5501; margin-top:10px; padding:0px 10px; border-radius:3px;margin-right:15px; border:1px solid #ff5501; position:relative;}
.fens a span{width:6px;height:6px; background:url(../images/ww_03.jpg) no-repeat; position:absolute; right:-3px; top:-3px; z-index:9999;}



.fenx{width:1172px;height:40px; float:left;line-height:40px;margin:0px 13px 0px 13px;overflow:hidden;background:url(../images/a_20.jpg) repeat-x left bottom;}
.fenx span{width:75px;height:40px; float:left; text-align:right; overflow:hidden; color:#666;}
.fenx div{width:1094px;height:40px; float:right; overflow:hidden;}
.fenx a{width:auto;height:40px; float:left;color:#000; margin-right:15px;}
.fenx a.on{width:auto;height:20px; float:left;line-height:20px;color:#ff5501; margin-top:10px; padding:0px 10px; border-radius:3px;margin-right:15px; border:1px solid #ff5501;}


.healthc{width:1198px;height:auto; float:right;overflow:hidden;margin:20px 0px 0px 0px;}
.healthc ul{width:1198px;float:left;height:auto; overflow:hidden;}
.healthc ul li{width:1198px;height:158px;float:left;margin:0px 0px 30px 0px;}
.yiliaoz{width:205px;height:156px;float:left;margin:0px 0px 0px 0px; border:1px solid #cfcfcf;}
.yiliaoz a{width:193px;height:143px;float:left;margin:6px;}
.yiliaoz a img{width:193px;height:143px;float:left;}



.yiliaoy{width:974px;height:156px;float:right;font-family:"微软雅黑";overflow:hidden;}
.yiliaoy p{width:860px;height:24px;float:left; line-height:24px; color:#666;overflow:hidden;}
.yiliaoy span{width:974px;height:48px;float:left; line-height:24px; color:#666;overflow:hidden;}
.yiliaoy p.yiliaotit{width:860px;height:36px;float:left; line-height:34px; color:#000; font-size:14px;overflow:hidden;}
.yiliaoy p.yiliaotit a{width:860px;height:34px;float:left; line-height:34px; color:#000; font-size:14px;}
.yiliaoy div.yiliaopm{width:80px;height:60px;float:right; text-align:right;color:#000; font-size:14px; overflow:hidden;padding:20px 10px 0px 0px; margin:0px;}
.yiliaoy div.yiliaopm b{width:80px;height:34px;color:#ff5501; font-size:20px; display:block; font-weight:normal;}
.yiliaoy p.yiliaotit a:hover{color:#0e4d9c;}



.zxban{width:1200px;height:310px;float:left;overflow:hidden; margin-top:20px;}
.zxbanz{width:980px;height:310px;float:left;overflow:hidden;}
.zxband{width:865px;height:310px;float:left;overflow:hidden;}






.zxbany{width:215px;height:310px;float:right;overflow:hidden;}
.zxbany ul{width:215px;float:left;height:310px; overflow:hidden;margin:0px;}
.zxbany ul li{width:215px;height:100px;float:left;margin:0px 0px 5px 0px; cursor:pointer; overflow:hidden;}
.zxbany ul li.on{width:213px;height:98px;float:left; border:1px solid #ff5501;}
.zxbany ul li.on img{width:213px;height:98px;float:left;}


.zxuna{width:1200px;height:auto;float:left; margin-top:20px;overflow:hidden;}
.zxunat{width:1200px;height:32px;float:left;position:relative; background:url(../images/ym_16.jpg) repeat-x left bottom;}
.zxunat span{width:180px;height:27px; line-height:27px; float:left;background:url(../images/ym_13.jpg) no-repeat left bottom;font-size:18px; color:#fff; padding-left:30px;margin:5px 0px 0px 0px;font-family:"微软雅黑";}


.zxunac{width:1200px;height:636px;float:left;overflow:hidden;margin:20px 0px 0px 0px;}
.zxunacz{width:1350px;height:636px;float:left;overflow:hidden;margin:0px 0px 0px 0px;}


.ymkx{width:569px;height:auto; float:left;margin:0px 63px 20px 0px; overflow:hidden;}
.ymkxt{width:569px;height:32px;float:left;}
.ymkxt span{width:84px;height:37px; line-height:25px; text-align:center; float:left;background:url(../images/ym_20.jpg) no-repeat left top;font-size:14px;font-family:"微软雅黑"; color:#fff;}
.ymkxt b{width:84px;height:37px; line-height:25px; text-align:center; float:left;background:url(../images/ym_23.jpg) no-repeat left top;font-size:14px;font-family:"微软雅黑"; color:#fff; font-weight:normal;}
.ymkxt a{width:auto;height:32px;float:right;line-height:32px;font-family:"微软雅黑"; color:#666;}



.ymkxc{width:569px;height:auto; float:left;margin:20px 0px 0px 0px; overflow:hidden; }
.ymkxcz{width:193px;height:254px; float:left;margin:0px 0px 0px 0px; overflow:hidden;}
.ymkxcy{width:365px;height:auto; float:right;margin:0px 0px 0px 0px; overflow:hidden;font-family:"微软雅黑";}




.ymkxcyt{width:365px;height:88px;float:left;margin:0px 0px 0px 0px; border-bottom:1px solid #e1e1e1;}
.ymkxcyts{width:365px;height:25px;float:left;margin:0px 0px 0px 0px;overflow:hidden;}
.ymkxcyts a{width:365px;height:25px;float:left;margin:0px 0px 0px 0px; font-size:16px; text-align:center;}
.ymkxcytx{width:365px;height:40px;float:left;margin:10px 0px 0px 0px; line-height:20px; color:#666;overflow:hidden;}
.ymkxcytx a{color:#666;}



.ymkxcyc{width:365px;height:158px;float:left;margin:10px 0px 0px 0px;}
.ymkxcyc ul{width:365px;height:158px; float:left; overflow:hidden;}
.ymkxcyc ul li{width:365px; height:30px;float:left;line-height:30px; background:url(../images/ym_30.jpg) no-repeat left center; border-bottom:1px dotted #d7d7d7;}
.ymkxcyc ul li a{width:294px; height:30px;float:left;color:#666;font-size:12px;overflow:hidden;margin:0px 0px 0px 5px;}
.ymkxcyc ul li span{width:40px; height:30px;float:right; text-align:right;color:#666;}
.ymkxcyc ul li:hover a{color:#0e4d9c;}
.ymkxcyc ul li:hover span{color:#0e4d9c;}



.fangz{width:896px;height:auto;float:left;overflow:hidden;margin:0px 0px 0px 0px;font-family:"微软雅黑";}
.fangzt{width:886px;height:30px;float:left;overflow:hidden; font-size:18px; line-height:20px; padding-left:10px;border-bottom:3px solid #ff5501;}
.fangza{width:896px;height:31px;float:left;overflow:hidden;margin:11px 0px 0px 0px;}
.fangza ul{width:800px;float:left;height:26px; }
.fangza ul li{width:110px;height:31px;float:left;font-family:"微软雅黑";text-align:center; line-height:26px; color:#000;border-right:1px solid #fff;cursor:pointer;background:url(../images/f_05.jpg) no-repeat; margin-right:11px;}
.fangza ul li.on{background:url(../images/f_03.jpg) no-repeat;color:#fff;}
.fangza ul li:hover{background:url(../images/f_03.jpg) no-repeat;color:#fff;}


.fangzc{width:896px;height:auto;float:left;overflow:hidden;margin:10px 0px 0px 0px;}
.fangzc ul{width:896px;height:auto; float:left; overflow:hidden;}
.fangzc ul li{width:896px; height:36px;float:left;line-height:30px; background:url(../images/ym_30.jpg) no-repeat left center; border-bottom:1px dotted #d7d7d7;}
.fangzc ul li a{width:826px; height:36px;float:left;color:#666;font-size:14px;overflow:hidden;margin:0px 0px 0px 5px;}
.fangzc ul li span{width:40px; height:36px;float:right; text-align:right;color:#666;}
.fangzc ul li a:hover{color:#0e4d9c;}
.fangzc ul li:hover a{color:#0e4d9c;}
.fangzc ul li:hover span{color:#0e4d9c;}


.fangy{width:274px;height:auto;float:right;overflow:hidden;margin:0px 0px 0px 0px;font-family:"微软雅黑";}
.fangya{width:274px;height:auto;float:left;overflow:hidden;margin:0px 0px 15px 0px;}
.fangyat{width:274px;height:30px;float:left;overflow:hidden; }
.fangyat span{width:140px;height:30px;float:left;overflow:hidden; background:url(../images/a_42.jpg) no-repeat; text-align:center; line-height:30px;font-size:14px;font-family:"微软雅黑";}

.fangyac{width:274px;height:160px;float:left;overflow:hidden;margin:20px 0px 0px 0px;}
.fangyac ul{width:274px;float:left;height:160px; overflow:hidden;}
.fangyac ul li{width:274px;height:30px;float:left;font-family:"微软雅黑";border-bottom:1px dotted #d7d7d7;line-height:30px; }
.fangyac ul li a{width:280px;height:30px;box-sizing:border-box;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;float:left;padding:0px 0px 0px 10px;color:#666;background:url(../images/ym_30.jpg) no-repeat left center;}
.fangyac ul li a:hover{color:#0e4d9c;}



.fangyab{width:274px;height:auto;float:left;overflow:hidden;margin:20px 0px 0px 0px;}
.fangyab ul{width:274px;height:420px;float:left;overflow:hidden;}
.fangyab ul li{width:274px;height:90px;float:left;overflow:hidden;margin:0px 0px 20px 0px;}
.fangyab ul li a{width:274px;height:90px;float:left;overflow:hidden;}
.fangyab ul li a img{width:120px;height:90px;float:left; overflow:hidden;}
.fangyab ul li a p{width:144px;height:20px;float:right;overflow:hidden; line-height:20px; font-size:14px;color:#000; text-align:left;}
.fangyab ul li a span{width:144px;height:60px;float:right;overflow:hidden;margin:8px 0px 0px 0px;line-height:20px; color:#666;text-align:left;}
.fangyab ul li a p:hover{color:#0e4d9c;}
.fangyab ul li a span:hover{color:#0e4d9c;}

.lvyouw{width:1200px;height:auto;float:left;margin:20px 0px 0px 0px;font-family:"微软雅黑";}

.lvyouwt{width:1200px;height:26px;float:left;background:#e4e8eb;}
.lvyouwt b{width:183px;height:26px;float:left;background:#fff;padding:0px 0px 0px 10px;border-left:3px solid #073e82;font-family:"微软雅黑"; font-size:22px; line-height:26px; font-weight:normal;}

.lvyouc{width:1200px;height:684px;float:left;margin:20px 0px 0px 0px; overflow:hidden;}
.lvyouc ul{width:1300px;float:left;height:684px; overflow:hidden; }
.lvyouc ul li{width:280px;height:215px;float:left;margin:0px 25px 19px 0px;}
.lvyouc ul li a{width:280px;height:215px;float:left; position:relative; overflow:hidden;}
.lvyouc ul li a img{width:280px;height:215px;float:left;}

.lvyxuc{width:1200px;height:454px;float:left;margin:20px 0px 0px 0px; overflow:hidden;}
.lvyxuc ul{width:1300px;float:left;height:454px; overflow:hidden; }
.lvyxuc ul li{width:280px;height:215px;float:left;margin:0px 25px 19px 0px;}
.lvyxuc ul li a{width:280px;height:215px;float:left; position:relative; overflow:hidden;}
.lvyxuc ul li a img{width:280px;height:215px;float:left;}

.lvyxec{width:1200px;heborder-left:3px solid blue;ight:auto;float:left;margin:20px 0px 0px 0px;overflow:hidden;min-height:800px;*min-height:800px;_min-height:800px;}
.lvyxec ul{width:1300px;float:left;height:auto; overflow:hidden; }
.lvyxec ul li{width:280px;height:215px;float:left;margin:0px 25px 19px 0px;}
.lvyxec ul li a{width:280px;height:215px;float:left; position:relative; overflow:hidden;}
.lvyxec ul li a img{width:280px;height:215px;float:left;}





.sbfaq{width:280px;height:135px; position:absolute; left:0;top:180px; z-index:9999;background:url(../images/a_13.png) repeat;overflow:hidden;}
.sbfaq span{width:260px;height:35px; float:left; margin:0px 10px;font-size:16px; line-height:35px; text-align:center; color:#fff; overflow:hidden; border-bottom:1px solid #fff;}
.sbfaq p{width:260px;height:72px; float:left; margin:10px 10px 0px 10px;font-size:14px; line-height:24px; color:#fff; overflow:hidden; }


.zhhol{width:334px;height:308px;float:right;overflow:hidden; border:1px solid #dfdfdf; border-left:none;}
.zhhola{width:334px;height:100px;float:left;overflow:hidden; margin-top:57px;}
.zhhola a{width:204px;height:40px;float:left;overflow:hidden;margin:0px 65px 11px 66px;}

.zhhof{width:324px;height:180px;float:left;overflow:hidden; margin:10px 0px 0px 4px;}
.zhhof a{width:152px;height:73px;float:left;overflow:hidden;margin:0px 0px 15px 8px; font-size:20px; color:#fff; color:#fff; line-height:78px; text-align:center;font-family:"微软雅黑";}


.zhxf{width:278px;height:200px;float:left;margin:0px 27px 0px 28px;}
.zhxft{width:278px;height:36px;float:left;margin:0px 0px 0px 0px;background:url(../images/xd_03.jpg) repeat-x left bottom; position:relative;}
.zhxft span{width:79px;height:36px;float:left;overflow:hidden; position:absolute; left:0px;bottom:0px; z-index:99; border-bottom:2px solid #073e82; line-height:41px; color:#000; font-size:14px; text-align:center;font-family:"微软雅黑";}


.zhxfc{width:308px;height:150px;float:left;margin:20px 0px 0px 0px;}

.zhxfc a{width:127px;height:39px;float:left;overflow:hidden;margin:0px 23px 11px 0px; font-size:14px; color:#000;line-height:39px; text-align:center;font-family:"微软雅黑"; background:url(../images/g_06.jpg) no-repeat;}
.zhxfc a:hover{background:url(../images/g_03.jpg) no-repeat;color:#fff;}
.zhxfc a.on{background:url(../images/g_03.jpg) no-repeat;color:#fff;}

.zhxec{width:334px;height:99px;float:left;overflow:hidden; text-align:center;margin:20px 0px 0px 0px;background:url(../images/a_20.jpg) repeat-x left top;}
.zhxec a img{width:143px;height:45px;overflow:hidden;margin:20px 0px 0px 0px;}



.zhholc{width:334px;height:99px;float:left;overflow:hidden;margin:40px 0px 0px 0px;}
.zhholc a{width:313px;height:99px;float:left;overflow:hidden;margin:0px 0px 0px 10px;}
.zhholc a img{width:313px;height:99px;float:left;overflow:hidden;}


.lxdz{width:894px;height:auto;float:left;overflow:hidden;margin:0px 0px 0px 0px;font-family:"微软雅黑"; min-height:600px;*min-height:600px;_min-height:600px;}

.lxdzs{width:894px;height:auto; float:left;overflow:hidden;margin:20px 0px 0px 0px;}
.lxdzs ul{width:894px;float:left;height:auto; overflow:hidden;}
.lxdzs ul li{width:894px;height:158px;float:left;margin:0px 0px 30px 0px;}
.ciliaoz{width:205px;height:156px;float:left;margin:0px 0px 0px 0px; border:1px solid #cfcfcf;}
.ciliaoz a{width:193px;height:143px;float:left;margin:6px;}
.ciliaoz a img{width:193px;height:143px;float:left;}

.ciliaoy{width:667px;height:156px;float:right;font-family:"微软雅黑";overflow:hidden;}
.ciliaoy p{width:667px;height:24px;float:left; line-height:24px; color:#666;overflow:hidden;}
.ciliaoy span{width:667px;height:48px;float:left; line-height:24px; color:#666;overflow:hidden;}
.ciliaoy p.ciliaotit{width:667px;height:36px;float:left; line-height:34px; color:#000; font-size:14px;overflow:hidden;}





.lxdzx{width:894px;height:auto;float:left;overflow:hidden;margin:0px 0px 0px 0px; line-height:24px; color:#666;}





.lxdy{width:274px;height:auto;float:right;overflow:hidden;margin:10px 0px 0px 0px;font-family:"微软雅黑";}
.lxdyc{width:274px;height:385px;float:left;overflow:hidden;margin:15px 0px 0px 0px;}
.lxdyc ul{width:294px;float:left;height:385px; overflow:hidden; }
.lxdyc ul li{width:132px;height:84px;float:left;margin:0px 10px 13px 0px;}
.lxdyc ul li a{width:132px;height:84px;float:left; overflow:hidden;}
.lxdyc ul li a img{width:120px;height:50px;float:left;padding:5px;border:1px solid #ebebeb;}
.lxdyc ul li a span{width:120px;height:30px;float:left; line-height:30px; color:#666; text-align:center;}



.hy{width:1200px;height:auto;float:left; margin-top:20px;overflow:hidden;}
.hyt{width:1200px;height:40px;float:left;overflow:hidden; font-size:18px; color:#ff5216; background:url(../images/x_03.jpg) no-repeat left center; line-height:40px; padding-left:30px;font-family:"微软雅黑";}
.hyc{width:1200px;height:auto;float:left;overflow:hidden;margin-top:20px;}
.hycz{width:200px;height:auto;float:left;overflow:hidden;}
.hycz ul{width:200px;float:left;height:auto; overflow:hidden; }
.hycz ul li{width:198px;height:45px;float:left;margin:0px 0px 13px 0px; border:1px solid #ecede8; background:#fbfbfc;}
.hycz ul li a{width:176px;height:45px;float:left; overflow:hidden; font-weight:600; line-height:45px; margin-left:22px;background:url(../images/x_07.jpg) no-repeat 150px center; color:#575656;}
.hycz ul li a:hover{ color:#ff5216;background:url(../images/x_08.png) no-repeat 150px center; color:#ff5216;}






.hycy{width:980px;height:auto;float:right;overflow:hidden; border:1px solid #ecede8;font-family:"微软雅黑"; }
.hycyt{width:955px;height:37px;float:left;overflow:hidden; background:#f6f6f6; line-height:37px; padding-left:25px; font-size:14px;}
.hycyc{width:980px;height:auto;float:left;overflow:hidden;min-height:600px;*min-height:600px;_min-height:600px; padding-top:30px;}
.hycyce{width:980px;height:40px;float:left;overflow:hidden; line-height:40px; color:#666; font-size:14px;}
.hycyce b{width:160px;height:40px;float:left;overflow:hidden; line-height:40px; color:#666; text-align:right; font-weight:normal;}
.hycyce span{width:780px;height:40px;float:right; text-align:left; margin-right:20px;overflow:hidden; line-height:40px; color:#666;}


.fchan{width:1200px;height:240px;float:left;overflow:hidden;margin:15px 0px 0px 0px;}
.fchan ul{width:1250px;height:240px; float:left; overflow:hidden;}
.fchan ul li{width:580px; height:30px;float:left;line-height:30px; background:url(../images/g_19.jpg) no-repeat left center; margin:0px 40px 0px 0px;}
.fchan ul li a{width:490px; height:30px;float:left;color:#00;font-size:14px;overflow:hidden;margin:0px 0px 0px 10px;}
.fchan ul li span{width:40px; height:30px;float:right; text-align:right;color:#666;}
.fchan ul li:hover a{color:#0e4d9c;}
.fchan ul li:hover span{color:#0e4d9c;}

.fczxw{width:1200px;height:496px;float:left;overflow:hidden;margin:15px 0px 0px 0px;}
.fcwz{width:867px;height:496px;float:left;overflow:hidden;}
.fcwzt{width:867px;height:32px;float:left;position:relative; background:url(../images/s_03.jpg) repeat-x left bottom;}
.fcwzt span{width:78px;height:32px; line-height:25px; text-align:center;position:absolute; left:0px; top:0; z-index:99999;background:url(../images/a_09.jpg) no-repeat left 24px;font-size:16px;font-family:"微软雅黑";}
.fcwzc{width:867px;height:433px;float:left;margin:20px 0px 0px 0px;}
.fcwzcz{width:271px;height:433px;float:left;}
.fcwzcz a img{width:271px;height:433px;float:left;}
.fcwzcy{width:564px;height:433px;float:right;font-family:"微软雅黑";}

.fcwzcys{width:564px;height:88px;float:left;margin:0px 0px 0px 0px;}
.fcwzcyss{width:564px;height:25px;float:left;margin:0px 0px 0px 0px;overflow:hidden;}
.fcwzcyss a{width:564px;height:25px;float:left;margin:0px 0px 0px 0px; font-size:16px; text-align:center;}
.fcwzcysx{width:564px;height:40px;float:left;margin:10px 0px 0px 0px; line-height:20px; color:#666;overflow:hidden;}
.fcwzcysx a{color:#666;}



.fcwzcyx{width:564px;height:255px;float:left;margin:3px 0px 0px 0px;background:url(../images/a_20.jpg) repeat-x left top;}
.fcwzcyx ul{width:564px;height:240px; float:left; overflow:hidden; margin-top:15px;}
.fcwzcyx ul li{width:564px; height:30px;float:left;font-family:"微软雅黑";line-height:30px; background:url(../images/g_19.jpg) no-repeat left center;}
.fcwzcyx ul li a{width:468px; height:30px;float:left;color:#000;font-size:14px;overflow:hidden; margin-left:5px;}
.fcwzcyx ul li span{width:58px; height:30px;float:right; text-align:right;color:#666;}
.fcwzcyx ul li:hover a{color:#0e4d9c;}
.fcwzcyx ul li:hover span{color:#0e4d9c;}






.fcwy{width:307px;height:496px;float:right;overflow:hidden;}

.fcwys{width:307px;height:300px;float:left;overflow:hidden;margin:10px 0px 0px 0px;}
.fcwysc{width:307px;height:264px;float:left;overflow:hidden;padding:10px 0px 0px 0px;}
.fee{width:307px;height:40px;float:left;margin:2px 0px 0px 0px;font-family:"微软雅黑";}
.fee span{width:82px;height:40px;float:left;overflow:hidden;margin:5px 0px 0px 0px;}
.fee input[type=text]{width:181px;height:27px;float:left;overflow:hidden;margin:5px 0px 0px 0px; background:#fff; border:1px solid #ddd;}
.fee b{width:auto;height:40px;float:left;overflow:hidden;margin:0px 0px 0px 3px; line-height:40px; font-weight:normal; font-size:14px;}
.fee input[type=button]{width:115px;height:34px;float:left;overflow:hidden;margin:5px 0px 0px 0px; background:url(../images/k_03.jpg) no-repeat;}
.fee .la{width:181px;height:27px;float:left;margin:5px 0px 0px 0px; background:#fff url(../images/x_07.jpg) no-repeat 160px center; border:1px solid #ddd; cursor:pointer; position:relative;}
.fee .la font{width:171px;height:27px;float:left;overflow:hidden;margin:5px 0px 0px 10px;}
.fee .la ul{width:181px;height:auto; position:absolute; left:-1px; top:27px; z-index:999; background:#fff;border:1px solid #ddd; display:none;}
.fee .la ul li{width:171px;height:27px; float:left; line-height:27px; border-bottom:1px dotted #eaeaea; padding-left:10px;}


.fwwys{width:307px;height:220px;float:left;overflow:hidden;margin:10px 0px 0px 0px;}
.fwwysc{width:307px;height:192px;float:left;overflow:hidden;padding:10px 0px 0px 0px;}

.qus{width:1200px;height:30px;float:left;overflow:hidden;margin:15px 0px 0px 0px; border-bottom:1px dotted #999;}
.qus span{width:48px; height:30px;float:left;color:#555; font-weight:600;}

.qus ul{width:1150px;height:30px; float:right; overflow:hidden;}
.qus ul li{width:auto; height:30px;float:left;line-height:30px;margin-right:10px;}
.qus ul li a{width:auto; height:30px;float:left;color:#666;overflow:hidden; }








/* iFocus style */
#ifocus { width:1200px; height:310px; float:left; overflow:hidden;}
	#ifocus_pic { display:inline; position:relative; float:left; width:980px; height:310px; overflow:hidden;}
		#ifocus_piclist { position:absolute; }
		#ifocus_piclist li {width:980px; height:310px;overflow:hidden; }
		#ifocus_piclist img {width:980px; height:310px;}
	#ifocus_btn { display:inline; float:right; width:215px; margin:0px 0px 0 0; }
		#ifocus_btn li { width:215px; height:100px;margin:0px 0px 5px 0;cursor:pointer;}
		#ifocus_btn img {width:215px; height:100px;margin:0px 0 0px 0px; }
		#ifocus_btn .current {width:213px; height:98px; border:1px solid #fe4800;overflow:hidden;}
	
		
	#ifocus_opdiv { position:absolute; left:0; bottom:0; width:410px; height:35px; background:none; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); }
	#ifocus_tx { position:absolute; left:8px; bottom:8px; color:#FFF; }
		#ifocus_tx .normal { display:none; }




.fenye{width:1200px;height:30px;float:left;overflow:hidden; padding:30px 0px 50px 0px;margin:20px 0px 0px 0px; text-align:center; line-height:30px; font-size:14px; font-family:"Microsoft Yahei"; color:#625d61;}
.fenye a{width:auto;height:30px;padding:0px 6px 0px 6px; overflow:hidden;margin:0px 2px 0px 2px;color:#625d61;display:inline-block;background:#f3f3f3;font-family:"Microsoft Yahei";font-size:14px;}
.fenye span{width:auto;height:30px;padding:0px 8px 0px 8px;overflow:hidden;margin:0px 2px 0px 2px; display:inline-block;font-family:"Microsoft Yahei"; color:#fff; background:#39a1ea;}
#ftt2{width:auto;height:30px;padding:0px 10px 0px 10px;overflow:hidden;margin:0px 5px 0px 5px;display:inline-block;color:#fff; background:#39a1ea;font-family:"Microsoft Yahei";}
.fenye a:hover{width:auto;height:30px;padding:0px 6px 0px 6px;overflow:hidden;margin:0px 2px 0px 2px;display:inline-block;color:#fff; background:#39a1ea;font-family:"Microsoft Yahei";}






.hyzp{width:980px;height:auto;float:left;overflow:hidden;}
.hyzp ul{width:940px;height:auto;float:left;margin:0px 20px 0px 20px;}
.hyzp ul li{width:930px;height:36px; float:left; line-height:36px; border-bottom:1px dotted #eaeaea; padding-left:10px;background: url(../images/ym_30.jpg) no-repeat left center;}
.hyzp ul li a{width:840px;height:36px; float:left; line-height:36px;}
.hyzp ul li span{width:80px;height:36px; float:right; text-align:right;}






.xfu{width:48px; height:48px; position:fixed;left:50%; bottom:160px;margin:0px 0px 0px 620px;z-index:999999999;}
.zxzx{width:48px; height:48px; float:left;background:url(../images/fhtop.jpg) no-repeat;}
.zxzx:hover{width:48px; height:48px; float:left; background:url(../images/fhtop2.jpg) no-repeat;}















@media only screen and (max-width:999px){
	
	
	.container{width:1200px; }
	.top{ width:1200px;}
	.flash{ width:1200px;overflow:hidden;}
	.botw{width:1200px;}
	.nav{ width:1200px;}
	
	}




/*中介公司详情*/
.slyq{width:894px; height:auto; float:left;}
.sllyqzj{ width:894px; height:80px; float:left; padding-bottom:20px; border-bottom:1px solid #ebebeb;}
.lyqzjlogo{ width:139px; height:80px; float:left; margin-right:10px; border:1px solid #ebebeb;}
.lyqzjnr{ width:743px; float:left; height:50px;}
.lyqzjdbt{ width:743px; height:40px; line-height:40px; float:left;color: #1e78cf;font-size: 16px;font-family: "微软雅黑";}
.lyqzjrz{ width:auto; padding-left:16px; height:24px; float:left; font-family:"微软雅黑"; font-size:12px; color:#666; line-height:24px; background-image:url(../images/a.png); background-position:left center; background-repeat:no-repeat;}
.slyqnr{ width:894px; height:auto; float:left; margin-top:10px;padding-bottom:10px; border-bottom:1px solid #ebebeb;}
.slyqnryi{ width:894px; height:36px; float:left;}
.slykh{ width:80px; height:36px; float:left; font-family:"微软雅黑"; font-size:12px; color:#707070; line-height:36px; }
.slyqkhnr{width:814px; height:36px; float:left; font-family:"微软雅黑"; font-size:12px; color:#333; line-height:36px;}

.gsjiea{ width:894px; height:auto; float:left; margin-top:20px;}
.gongsijieshao{ width:894px; height:36px; float:left; background-image:url(../images/aav.jpg); background-repeat:no-repeat;}
.gongsijieshao span{ display:block; width:100px; height:36px; line-height:36px; font-family:"微软雅黑"; font-size:14px; color:#333; text-align:center;}
.gsjxqe{ width:872px; height:auto; float:left; border-left:1px solid #dddddd;border-bottom:1px solid #dddddd; border-right:solid 1px #dddddd; padding:10px;}





.slknowbox{ width:100%; height:340px; float:left; background-image:url(../images/acvz.jpg); background-repeat:no-repeat; background-position:top center;}
.slknow{ width:1200px; height:340px; margin-left:auto; margin-right:auto;}
.slzhidao{ width:270px; height:300px; float:right; margin:20px 0; background-color:#f0f2eb;}
.zhidtitle{ width:230px; height:54px; float:left; font-family:"微软雅黑"; font-size:16px; color:#353535; line-height:54px; margin:0 20px; border-bottom:dotted 1px #bbb; font-weight:bold;}
.wendawz{ width:230px; height:80px; float:left; margin:20px 20px 20px 20px;}
.wendawzle{ width:170px; height:80px; float:left;  font-family:"微软雅黑"; font-size:24px; color:#0e4d9c; line-height:40px;}
.wendawzpic{ width:60px; height:80px; float:left;}
.sljiej{ width:250px; height:36px; float:left; line-height:36px; text-align:center; margin:10px 10px;}
.sljiej span{ font-family:"微软雅黑"; font-size:14px; color:#333; float:left;}
.juewt{ width:auto; float:left; height:36px; line-height:36px; font-family:"微软雅黑"; font-size:30px; color:#ee5e0f;}
.anquestion{ width:270px; height:60px; float:left; font-family:"微软雅黑"; font-size:16px; color:#0e4d9c; margin-top:9px;}
.anquestion .wtaf{display: inline;float: left; width: 134px; height: 60px; background-color: #0e4d9c;    color: #fff; text-align: center; line-height: 60px; text-decoration: none;}

.anquestion .wtafa{display: inline;float:right; width: 135px; height: 60px; background-color: #0e4d9c;    color: #fff; text-align: center; line-height: 60px; text-decoration: none;}
.anquestion a:hover{ background-color:#3982de;}
.tu{ width: 18px;
    height: 18px;
    background-image: url(../images/cskk_03.png);
    background-repeat: no-repeat;
    /* background-position: -24px -23px; */
    display: block;
    float:left;
    /* vertical-align: middle; */
    margin: 23px 5px 0 24px;}
.wen{ font-family: "微软雅黑";
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    display: block;
    float: left;}

.tua{ width: 18px;
    height: 18px;
    background-image: url(../images/cskk_05.png);
    background-repeat: no-repeat;
    /* background-position: -24px -23px; */
    display: block;
    float:left;
    /* vertical-align: middle; */
    margin: 23px 5px 0 24px;}




.slczvdf{ width:1200px; height:auto; float:left;margin:20px 0px 0px 0px;}
.slymzda{ width:580px; height:auto; float:left;font-family:"微软雅黑";margin:0px 20px 0px 0px;}
.slymzdabox{ width:580px; height:auto; float:left; margin-top:20px;}
.slymzdaone{ width:560px; height:54px; line-height:54px; float:left; background-image:url(../images/sv_03.png); background-repeat:no-repeat; background-position:left; padding-left:20px;}
.slymzdaone a{ width:460px; height:54px; float:left; display:block; font-family:"微软雅黑"; font-size:14px; color:#333;}
.slymzdaone span{ width:100px; height:54px; float:left; text-align:right; display:block; font-family:"微软雅黑"; font-size:14px; color:#999;}



.ymgstjta{width:580px;height:37px;float:left;overflow:hidden;}
.ymgstjta span{width:140px;height:37px;float:left;overflow:hidden; background:url(../images/ymcs0.jpg) no-repeat; text-align:center; line-height:25px; font-size:14px; color:#fff;}
.ymgstjta a{width:auto;height:37px;float:right;overflow:hidden;line-height:25px; color:#666; }

.ymgstjtb{width:580px;height:37px;float:left;overflow:hidden;}
.ymgstjtb span{width:140px;height:37px;float:left;overflow:hidden; background:url(../images/ymcs3.jpg) no-repeat; text-align:center; line-height:25px; font-size:14px;color: #fff}
.ymgstjtb a{width:auto;height:37px;float:right;overflow:hidden;line-height:25px; color:#666; }

.zhidaoxq{ width:1180px; height:54px; float:left; line-height:54px; background-image:url(../images/sv_03a.png); background-repeat:no-repeat; background-position:left; padding-left:20px;} 
.zhidaoxq a{width:1080px; height:54px; float:left; display:block; font-family:"微软雅黑"; font-size:14px; color:#333;}
.zhidaoxq span{ width:100px; height:54px; float:left; text-align:right; display:block; font-family:"微软雅黑"; font-size:14px; color:#999;}

.ymgstjtSL{width:1200px;height:30px;float:left;overflow:hidden; margin-top:20px;}
.ymgstjtSL span{width:140px;height:30px;float:left;overflow:hidden; background:url(../images/a_42.jpg) no-repeat; text-align:center; line-height:30px; font-size:14px;font-family:"微软雅黑";}



.wenti{ width:894px; height:100px; float:left; border-bottom:dashed 1px #ccc; padding:10px 0;}
.wentitx{ width:98px; height:98px; float:left; margin-right:20px; border:solid 1px #ddd;}
.wentnra{ width:774px; height:100px; float:left; overflow:hidden;}
.wentmiao{ width:774px; height:auto; float:left; font-family:"微软雅黑"; font-size:14px; color:#333; line-height:35px;}
.wentidate{ width:774px; height:30px; line-height:30px; float:left; font-family:"微软雅黑"; font-size:12px; color:#666;}

.wentmiaoA{ width:774px; height:auto; float:left; font-family:"微软雅黑"; font-size:14px; color:#000; line-height:35px; font-weight:bold;}






.ask{ width:864px; height:30px; float:left; font-family:"微软雅黑"; font-size:16px; color:#666; line-height:30px; padding-left:30px; background-image:url(../images/ask_z_a3686af.png); background-repeat:no-repeat; background-position:left center;}
.askkk{ width:894px; height:auto; float:left; margin-top:15px;}
.askkk textarea{ width:868px; height:260px; line-height:26px; float:left;display: block;border: 1px solid #d6d6d6;padding: 12px;font-family:"微软雅黑"; font-size:16px; color:#666;}

.tjbutton{ width:894px; height:32px; float:left; margin-top:15px;}
.tjbox{ width:auto; height:32px; float:right;}
.anonymousas{ width:43px; height:12px; float:left; margin:10px 20px 10px 0;}
.anonymousas input{ width:12px; height:12px; float:left; margin-right:7px;}
.anonymousas label{ width:24px; height:12px; line-height:12px; float:left; font-family:"宋体"; font-size:12px; color:#666;}
.tijiaobtn{ width:90px; height:32px; float:left;text-align:center;}
.tijiaobtn input{width:90px; height:32px; background-color:#0e4d9c; float:left; border-radius:3px; font-family:"微软雅黑"; font-size:14px; color:#fff; line-height:32px; cursor:pointer; }














